.item {
     max-height: 200px;
    .question{
        display:flex;
        justify-content: space-between;
        padding: 20px 40px;
        cursor: pointer;
    }

    .answer{
        padding: 0 40px 40px;
        transition: all 0.3s ease-in-out;
    }

    hr{
        margin: 0 30px;
        border: 1px solid #ececec;
        
    }
}