.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f6f3;
    padding: 100px 0;
    flex-direction: column;
    
    .empty{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }

    .table{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        table {
            width: 80%;
            border: 1px solid #ddd; 
            th,td{
                padding: 10px;
                text-align: center;
                cursor: pointer;
            }

            img{
                width: 100px;
            }
    
            th{
                background-color: #ffffff;
                border-collapse: collapse;
            }
        }

        .total{
            border: 1px solid #ddd;
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            margin: 20px;
            padding: 10px 30px;
            
           
            .subtotal{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                p{
                    font-family: "Open Sans",sans-serif;
                    font-size: 25px;
                    font-weight: 100;
                }
                
            }

            Button{
                width: 250px;
                
            }
        }
    }

    

}

