.box {
  height: 72px;
  width: 72px;
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 24px;
  background-color: white;
  cursor: pointer;
}

.isSelected {
  background-color: black;
  color: white;
} 

.flex_container {
  display: flex;
  gap: 24px;
}

.SelectorContainer{
  display: flex;
  flex-direction: column;
  align-items: end;
}  

.error{
    color: red;
}

.selected_number{
  font-size: 24px;
  font-weight: 700;
}

@media(max-width: 768px){
  .box{
    margin-top: 10px;
  }

  .flex_container {
    gap: 10px;
    flex-wrap: wrap;
    min-width: 258px;
    justify-content: center;
    align-items: center;
    
  }

  .SelectorContainer{
    align-items: center;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .error{
    text-align: center;
  }

}